<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" viewBox="0 0 1545 929">
    <g transform="translate(626.6, 658)">
        <rect transform="scale(1, -1)" width="398" [attr.height]="level() * 216" style="fill-rule:evenodd;clip-rule:evenodd;fill:url(#SVGID_2_);"
        />
    </g>

    <g tmk-equipment-schema-template [leftLabels]="leftLabels" [rightLabels]="rightLabels" [titleWidth]="titleWidth" [zones]="zones" class="body" />

    <defs>
        <g id="lines">
            <polyline id="line-109006" points="382.6,192 399.1,192 399.1,261.5 501.6,261.5  " />
            <line id="line-109011" x1="382.6" y1="272" x2="501.6" y2="272" />
            <polyline id="line-109020" points="382.6,352 399.1,352 399.1,282 501.6,282  " />
            <polyline id="line-109012" points="382.6,432 409.1,432 409.1,292 501.6,292  " />
            <polyline id="line-109007" points="382.6,511 419.1,511 419.1,302 501.6,302  " />
            <polyline id="line-109009" points="1172.1,271.5 1117.1,271.5 1117.1,367.5 915.1,367.5  " />
            <polyline id="line-109010" points="1172.1,351.5 1127.1,351.5 1127.1,377.5 915.1,377.5  " />
            <polyline id="line-109008" points="1172.1,431.5 1117.1,431.5 1117.1,741.5 838.1,741.5 838.1,693.5  " />
            <polyline id="line-109004" points="1172.1,514.5 1127.1,514.5 1127.1,751.5 828.1,751.5 828.1,693.5  " />
            <polyline id="line-109005" points="1172.1,591.5 1137.1,591.5 1137.1,761.5 818.1,761.5 818.1,693.5  " />
            <polyline id="line-109018" points="1172.1,671.5 1147.1,671.5 1147.1,771.5 808.1,771.5 808.1,693.5  " />
        </g>

        <g id="zones">
            <path id="zone-1" d="M974.1,693.5h-296c-5.5,0-10-4.5-10-10v-41c0-5.5,4.5-10,10-10h296c5.5,0,10,4.5,10,10v41   C984.1,689,979.6,693.5,974.1,693.5z"
            />
            <path id="zone-2" d="M610.6,330h-99c-5.5,0-10-4.5-10-10v-79c0-5.5,4.5-10,10-10h99c5.5,0,10,4.5,10,10v79   C620.6,325.5,616.1,330,610.6,330z"
            />
            <path id="zone-3" d="M905.1,454.5h-43c-5.5,0-10-4.5-10-10v-119c0-5.5,4.5-10,10-10h43c5.5,0,10,4.5,10,10v119   C915.1,450,910.6,454.5,905.1,454.5z"
            />
        </g>

        <g id="static-graphics">
            <polyline class="st485" points="1039.6,412 1039.6,673 611.6,673 611.6,381 661.6,381   " />
            <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="626.5755" y1="550" x2="1024.5754" y2="550">
                <stop offset="0" style="stop-color:#B33A37" />
                <stop offset="0.3764" style="stop-color:#DF817E" />
                <stop offset="0.6929" style="stop-color:#D16361" />
                <stop offset="1" style="stop-color:#B33A37" />
            </linearGradient>
            <g class="st487">
                <g>
                    <polygon class="st488" points="643.6,336 643.6,318 643.6,301 643.6,283 574.6,283 574.6,318 608.6,318 608.6,336 608.6,371       668.6,371 668.6,643 703.6,643 703.6,371 708.6,371 708.6,643 743.6,643 743.6,371 748.6,371 748.6,643 783.6,643 783.6,371       788.6,371 788.6,643 823.6,643 823.6,371 828.6,371 828.6,643 863.6,643 863.6,371 868.6,371 868.6,643 903.6,643 903.6,371       903.6,336     "
                    />
                </g>
            </g>
            <rect x="921.6" y="336" class="st489" width="40" height="60" />
            <rect x="931.6" y="396" class="st489" width="20" height="228" />
            <g>
                <rect x="945.1" y="199.5" class="st482" width="117" height="55" />
                <path class="st24" d="M1060.6,201v52h-114v-52H1060.6 M1063.6,198h-120v58h120V198L1063.6,198z" />
            </g>
            <g>
                <path class="st102" d="M1062.6,199v56h-118v-56H1062.6 M1063.6,198h-120v58h120V198L1063.6,198z" />
            </g>
            <rect x="949.6" y="216" class="st490" width="108" height="34" />
            <g>
                <rect x="811.1" y="199.5" class="st482" width="117" height="55" />
                <g>
                    <path class="st24" d="M926.6,201v52h-114v-52H926.6 M929.6,198h-120v58h120V198L929.6,198z" />
                </g>
            </g>
            <g>
                <g>
                    <path class="st102" d="M928.6,199v56h-118v-56H928.6 M929.6,198h-120v58h120V198L929.6,198z" />
                </g>
            </g>
            <rect x="815.6" y="216" class="st489" width="108" height="34" />
            <g>
                <g>
                    <line class="st491" x1="1003.6" y1="250" x2="1003.6" y2="420.1" />
                    <g>
                        <polygon class="st492" points="994.6,417.5 1003.6,433 1012.5,417.5      " />
                    </g>
                </g>
            </g>
            <g>
                <g>
                    <polyline class="st493" points="982.6,433 982.6,292 869.6,292 869.6,268.9     " />
                    <g>
                        <polygon class="st494" points="878.5,271.5 869.6,256 860.6,271.5      " />
                    </g>
                </g>
            </g>
            <g>
                <g>
                    <polyline class="st491" points="1021.6,658 1021.6,394 1052.7,394     " />
                    <g>
                        <polygon class="st492" points="1050,403 1065.6,394 1050,385      " />
                    </g>
                </g>
            </g>
            <rect x="684.1" y="563" class="st489" width="201" height="44" />
            <g>
                <g>
                    <polyline class="st493" points="684.6,584 579.6,584 579.6,412 516.1,348.5 516.1,261 538.1,261     " />
                    <g>
                        <circle class="st494" cx="537.8" cy="261" r="6.8" />
                    </g>
                </g>
            </g>
            <g>
                <rect x="554.6" y="292" class="st495" width="6" height="18" />
                <rect x="564.6" y="292" class="st495" width="6" height="18" />
                <rect x="574.6" y="292" class="st495" width="6" height="18" />
                <rect x="584.6" y="292" class="st495" width="6" height="18" />
                <rect x="560.6" y="299" class="st495" width="24" height="4" />
            </g>
            <g>
                <rect x="554.6" y="252" class="st496" width="6" height="18" />
                <rect x="564.6" y="252" class="st496" width="6" height="18" />
                <rect x="574.6" y="252" class="st496" width="6" height="18" />
                <rect x="584.6" y="252" class="st496" width="6" height="18" />
                <rect x="560.6" y="259" class="st496" width="24" height="4" />
            </g>
            <g>
                <path class="st16" d="M636.6,244c2.2,0,4,1.8,4,4v25c0,2.2-1.8,4-4,4h-34c-2.2,0-4-1.8-4-4v-25c0-2.2,1.8-4,4-4H636.6 M636.6,243     h-34c-2.8,0-5,2.2-5,5v25c0,2.8,2.2,5,5,5h34c2.8,0,5-2.2,5-5v-25C641.6,245.2,639.3,243,636.6,243L636.6,243z"
                />
            </g>
            <g>
                <g>
                    <polyline class="st497" points="633.7,261 665.1,261 665.1,327.5 896.8,327.5     " />
                    <g>
                        <circle class="st498" cx="633.8" cy="261" r="2.3" />
                    </g>
                    <g>
                        <polygon class="st498" points="895.9,330.5 901.1,327.5 895.9,324.5      " />
                    </g>
                </g>
            </g>
            <circle class="st499" cx="538.6" cy="301" r="6" />
            <line class="st500" x1="535.6" y1="301" x2="541.6" y2="301" />
            <line class="st500" x1="538.6" y1="304" x2="538.6" y2="298" />
            <g>
                <g>
                    <polyline class="st501" points="602.7,301 655.6,301 655.6,326.9     " />
                    <g>
                        <circle class="st502" cx="602.8" cy="301" r="2.3" />
                    </g>
                    <g>
                        <circle class="st502" cx="655.6" cy="326.7" r="2.3" />
                    </g>
                </g>
            </g>
            <g>
                <line class="st1047" x1="1059.6" y1="663" x2="1049.6" y2="663" />
                <line class="st1047" x1="1059.6" y1="641.1" x2="1049.6" y2="641.1" />
                <line class="st1047" x1="1059.7" y1="619.2" x2="1049.7" y2="619.2" />
                <line class="st1047" x1="1059.7" y1="597.3" x2="1049.7" y2="597.3" />
                <line class="st1047" x1="1059.7" y1="575.4" x2="1049.7" y2="575.4" />
                <line class="st1047" x1="1059.8" y1="553.5" x2="1049.8" y2="553.5" />
                <line class="st1047" x1="1059.8" y1="531.6" x2="1049.8" y2="531.6" />
                <line class="st1047" x1="1059.9" y1="509.7" x2="1049.9" y2="509.7" />
                <line class="st1047" x1="1059.9" y1="487.8" x2="1049.9" y2="487.8" />
                <line class="st1047" x1="1060" y1="465.9" x2="1050" y2="465.9" />
                <line class="st1047" x1="1060" y1="444" x2="1050" y2="444" />
            </g>
            <text transform="matrix(1 0 0 1 1063.5754 666.667)" class="st16 st503 st504">-50</text>
            <text transform="matrix(1 0 0 1 1063.5754 622.667)" class="st16 st503 st504">-30</text>
            <text transform="matrix(1 0 0 1 1063.5754 578.667)" class="st16 st503 st504">-10</text>
            <text transform="matrix(1 0 0 1 1063.5754 556.667)" class="st16 st503 st504">0</text>
            <text transform="matrix(1 0 0 1 1063.5754 535.667)" class="st16 st503 st504">10</text>
            <text transform="matrix(1 0 0 1 1063.5754 490.667)" class="st16 st503 st504">30</text>
            <text transform="matrix(1 0 0 1 1063.5754 447.667)" class="st16 st503 st504">50</text>
            <g>
                <rect x="927.6" y="434" class="st505" width="28" height="8" />
            </g>
            <circle class="st507" cx="492.1" cy="410.5" r="13.5" />
            <circle class="st507" cx="492.1" cy="383.5" r="13.5" />
            <circle class="st507" cx="533.6" cy="452" r="24" />
            <line class="st508" x1="502.1" y1="419.5" x2="517.1" y2="434.5" />
        </g>
    </defs>
</svg>
