<svg:use xlink:href="#static-graphics"></svg:use>

<svg:g class="facilities">
    <svg:g *ngFor="let f of facilities; let i = index" tmk-facility-frame [facility]="f" [callbacks]="callbacks" class="facility"></svg:g>
</svg:g>

<svg:g class="lines">
    <svg:g *ngFor="let l of lines; let i = index" class="line-container" [class.active]="l.active" (mouseover)="callbacks.mouseover(l)"
        (mouseout)="callbacks.mouseout(l)" [ngClass]="'id-' + l.id + ' routes-' + l.routes">
        <svg:use class="line" [attr.xlink:href]="'#line-' + l.id"></svg:use>
        <svg:use class="line transparent-line" [attr.xlink:href]="'#line-' + l.id"></svg:use>
        <svg:use class="line-hidden-text" style="transform: translate(0px, 0px)" [attr.xlink:href]="'#line-hidden-text-' + l.id"></svg:use>
    </svg:g>
</svg:g>

<svg:g class="blocks">
    <svg:g class="top-blocks">
        <svg:g *ngFor="let b of topBlocks; let i = index" class="block" tmk-department-schema-block [config]="b">
        </svg:g>
    </svg:g>
    <svg:g class="bottom-blocks">
        <svg:g *ngFor="let b of bottomBlocks; let i = index" class="block" tmk-department-schema-block [config]="b"></svg:g>
    </svg:g>
</svg:g>

<svg:g class="preparations">
    <defs>
        <symbol id="danger-icon" style="overflow: visible" viewBox="0 0 9 8">
            <svg:g transform="translate(-4 -4)">
                <path d="M3.3,0.5L0.1,6.1C-0.2,6.7,0.2,7.6,1,7.6h6.4c0.8,0,1.3-0.8,0.9-1.5L5.1,0.5C4.7-0.2,3.7-0.2,3.3,0.5z" fill="#DD1919"></path>
                <svg:g>
                    <circle cx="4.2" cy="6.2" fill="#FFF" r="0.7"></circle>
                    <path d="M4.2,4.9c0.3,0,0.5-0.2,0.5-0.5V1.9c0-0.3-0.2-0.5-0.5-0.5c-0.3,0-0.5,0.2-0.5,0.5v2.5
                            C3.7,4.6,3.9,4.9,4.2,4.9z" fill="#FFF"></path>
                </svg:g>
            </svg:g>
        </symbol>
    </defs>
</svg:g>